/* global styles */
@import url('https://fonts.googleapis.com/css?family=Mina');

body{
    /*max-width: 99%;*/
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3E49;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #fafafa;
}
    h1{
        font-size: 150%;
        font-weight: bold;
        color:#000000FF;
    }
    h2{
        font-size: inherit;
        font-weight: bold;
    }
.wrapper{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header-wrapper{
    margin-left: 10%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
main, aside{
    min-height: 85vh;
}
aside{
    padding-left: 10px;
}
.global-header{
    background: linear-gradient(92.78deg, #8FBEDB 1.88%, rgba(222, 236, 244, 0.29337) 75.05%, rgba(255, 255, 255, 0) 98.6%), #1BB24E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    padding: 15px;
}
    .title-and-navi{
        display: flex;
        width: 100%;
    }
    #website-title{
        font-family: 'Mina', sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        width: 70%;
    }
    #website-title a{
        text-decoration: none;
        color: #2A3840;
    }
    .global-nav{
    background-color: transparent;
    color: #2a3840;
    font-size: 110%;
    width: 20%;
    }
    #navigation{
        list-style-type: none;
        margin: 0;
        padding-right: 20px;
        position: absolute;
        right: 0;
    }
        #navigation li{
        float: left;
        padding: 0 5px;
        }
        #navigation li a {
        text-decoration: none;
        }
        #navigation li a:hover {
        color: #fff;
        }
        #navigation a{
        color: #2A3840;
        }

/*Event title, Description*/
.details-main{
    float: left;
    width: 65%;
    height: auto;
    margin: 0 1%;
    padding: 0 2%;

    overflow-wrap : break-word;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}
    .event-headline{
        height: 14%;
        border: solid #f7f7f7 1px;
    }
    .event-description p{
        margin-top: 1em;
    }
    #event-image {
        height: 100%;
        width: 100%;
    }
/*Date, Location, Contacts
.details-aside{
    float: left;
    height: 500px;
    width: 23%;
    position: relative;
    margin: 0 1%;
    padding: 0 2%;
    background-color: white;
}
    .details-aside div{
        margin-bottom: 2em;
    }
    Google Map
    .map {
        position: relative;
        margin-top: 1em;
        padding-top: 30px;
        padding-bottom: 55%;
        height: 0;
        overflow: hidden;
        }

        .map iframe,
        .map object,
        .map embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    */
footer{
    clear: both;
    background-color: #f7f7f7;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
    .copywrite{
    color: #919699;
    font-size: small;
    font-weight: normal;
    }
    /* landing page styles */

/* The switch - the box around the slider */
.switch {
    margin-top: 10px;
    position: relative;
    top: 5px;
    display: block;
    width: 62px;
    height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider:after
{
 content:'List';
 color: black;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
  content:'Calendar';
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.cal-main{
    height: auto;
    width: 80%;
    background-color: transparent;
    float: right;
    flex-direction: column;
}
.cal-aside-filter{
    height: auto;
    width: 13%;
    background-color:#FFFFFFFF;
    float: left;
}
.cal-eventList{
    height: auto;
    width: 80%;
    background-color:#FFFFFFFF;
    display: none;

}

#calendarView {
    display: inline-block;
}

#listView {
    display: none;
}

.cal-nav {
    text-align: center;
}

.cal-nav h2 {
    display: inline-block;
    font-size: 1.5em;
    margin: .6em .8em;
}

.cal-nav i {
    vertical-align: text-bottom;
    cursor: pointer;
}

.cal .row-header {
    text-align: center;
}

.cal .cal-days, .cal .row-header {
    display: flex;
    flex-flow: wrap;
}
.row-header span, .cal time {
    width: 13.88%; /* 100percent / 7.25 */
    margin: .23148%; /* .25percent / 12 */
    box-sizing: border-box;
    background-color: white;
}

.cal time {
    min-height: 100px;
    border-radius: .15em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform .2s;
}
.cal time[data-event-count]:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.cal time:not([datetime]) {
    background-color: rgba(27,178,78,.1);
    box-shadow: none;
}

.cal time:nth-of-type(7n), .row-header span:last-child {
    margin-right: 0;
}

.cal time:nth-of-type(7n +1), .row-header span:first-child {
    margin-left: 0;
}

.date-num {
    background-color: rgba(27,178,78,.7);
    color: rgb(253,253,253);
    padding-left: 5px;
    padding-bottom: 3px;
}


/*.cal .row {*/
    /*min-height: 100px;*/
/*}*/
        /* list view */
.event-list-view-hidden{
    visibility: hidden;
}
.event-list-view{
    width: 90%;
    min-height: auto;
    overflow: inherit;
}

h4{
    color: #353535FF;
}

#filters-type {
    color: #b6bbc4;
    margin: 5%;
}

#filters-type H4 {
    margin: 0;
}

#filters-type:hover {
    cursor: pointer;
}

.filter {
    display: none;
}

.event-details {
    margin: auto 5px;
}
.event-details ul {
    padding: 0;
}

.event-details li {
    font-size: 10px;
    list-style-type: none;
    line-height: 1.4em;
}

.event-details li::after {
    content: "";
    border-bottom: solid 1px lightgray;;
    display: block;
    width: 85%;
    margin: .5em auto;
}

