/* global styles */
@import url('https://fonts.googleapis.com/css?family=Mina');

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3E49;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #fafafa;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    color:#000000FF;
}

h2 {
    font-size: inherit;
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
                        'header header'
                        'aside   main '
                        'footer footer';
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-wrapper {
    margin-left: 10%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

aside {
    padding-left: 10px;
    background-color:#FFFFFFFF;
}

main {
    padding: 1% 3%;
}

.global-header {
    background: linear-gradient(92.78deg, #8FBEDB 1.88%, rgba(222, 236, 244, 0.29337) 75.05%, rgba(255, 255, 255, 0) 98.6%), #1BB24E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    padding: 15px;
}

.title-and-navi {
    display: flex;
    width: 100%;
}

#website-title {
    font-family: 'Mina', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    width: 70%;
}

#website-title a {
    text-decoration: none;
    color: #2A3840;
}

.global-nav {
    background-color: transparent;
    color: #2a3840;
    font-size: 110%;
    width: 20%;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    position: absolute;
    right: 0;
}

#navigation li {
    float: left;
    padding: 0 5px;
}

#navigation li a {
    text-decoration: none;
}

#navigation li a:hover {
    color: #fff;
}

#navigation a {
    color: #2A3840;
}

/*Event details*/
.details-wrapper {
    display: flex;
    flex-direction: column;
}

/* Layout for smaller devices (Tablets/phones)*/
/*@media only screen and (max-width: 1024px) {*/
body {
    width: 100%;
    word-wrap: break-word;
}

.details-wrapper {
    flex-direction: column;
}

.details-aside {
    min-height: 50vh;
    width: 100%;
    position: relative;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details-main {
    height: auto;
    margin: 0 1%;
    padding: 0 2%;
    word-wrap: break-word;
    overflow-wrap : break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.event-headline {
    height: 14%;
    margin: 1em;
}

.event-description p {
    margin-top: 1em;
}

/*Map*/
#map {
    width: 100%;
    height: 100%;
    }

footer {
    clear: both;
    background-color: #f7f7f7;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.copywrite {
    color: #919699;
    font-size: small;
    font-weight: normal;
}

/* landing page styles */

/* The switch - the box around the slider */
.switch {
    margin-top: 10px;
    position: relative;
    top: 5px;
    display: block;
    width: 62px;
    height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider:after {
 content:'List';
 color: black;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content:'Calendar';
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.cal-eventList {
    height: auto;
    width: 80%;
    background-color:#FFFFFFFF;
    display: none;
}

#calendar-view {
    display: block;
    width: 100%;
}

#listView {
    display: none;
}

.cal-nav {
    text-align: center;
}

.cal-nav h2 {
    display: inline-block;
    font-size: 1.5em;
    margin: .6em .8em;
}

.cal-nav i {
    vertical-align: text-bottom;
    cursor: pointer;
}

.cal-row-header {
    text-align: center;
}

.cal-days, .cal-row-header {
    display: flex;
    flex-flow: wrap;
}

.cal-row-header span, #calendar-view time {
    width: 13.88%; /* 100percent / 7.25 */
    margin: .23148%; /* .25percent / 12 */
    box-sizing: border-box;
    background-color: white;
}

#calendar-view time {
    height: 108px;
    border-radius: 2.5%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform .2s;
}

#calendar-view .toggle-hover time[data-event-count]:hover {
    transform: scale(1.08);
    cursor: pointer;
}

#calendar-view time:not([datetime]) {
    background-color: rgba(27,178,78,.1);
    box-shadow: none;
}

#calendar-view time:nth-of-type(7n),
.cal-row-header span:last-child {
    margin-right: 0;
}

#calendar-view time:nth-of-type(7n +1),
.cal-row-header span:first-child {
    margin-left: 0;
}

#calendar-view time .date-num {
    background-color: rgba(27,178,78,.7);
    color: rgb(253,253,253);
    padding-left: 5px;
    padding-bottom: 3px;
}


/* list view */
.event-list-view-hidden {
    visibility: hidden;
}

.event-list-view {
    width: 90%;
    min-height: auto;
    overflow: inherit;
}

h4 {
    color: #353535FF;
}

#filters-type {
    color: #b6bbc4;
    margin: 5%;
}

#filters-type H4 {
    margin: 0;
}

#filters-type:hover {
    cursor: pointer;
}

.event-details {
    margin: auto 5px;
}

.event-details ul {
    padding: 0;
}

.event-details li {
    font-size: 10px;
    list-style-type: none;
    line-height: 1.4em;
}

.event-details li::after {
    content: "";
    border-bottom: solid 1px lightgray;;
    display: block;
    width: 85%;
    margin: .5em auto;
}

.event-time {
    display: none;
}

.event-name-long {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    margin: 15% auto;
    overflow: hidden;
    border-radius: 2.5%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 25vw;
    min-height: 250px;
}

.modal-content .date-num {
    background-color: rgba(27,178,78,.7);
    color: rgb(253,253,253);
    padding: 10px 0px 10px 15px;
    font-size: 2em;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    color: white;
    margin: 6px 10px;
}
.modal .close:hover {
    color: #aaa;
    cursor: pointer;
}

.modal-content .event-name-short {
    display: none;
}

.modal-content .event-time {
    display: block;
}

.modal-content .event-name-long {
    display: block;
}

/*About Page*/
#about-wrapper {
    display: grid;
    grid-template-areas:
                        '  header       header '
                        'about-main  about-main'
                        '  footer       footer ';
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

#about-main {
  grid-area: about-main;
}

#about-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 2fr 5fr;
  grid-template-areas:  "  us    us  "
                        "team contact"
                        "team    .   ";
  margin: 5em 8em 5em;
}

#about-us {
  background-color: #d3d3d3;
  grid-area: us;
  margin: 0 0 2em 0;
  padding: .75em 2em 1.25em 2em;
}

#about-team {
  background-color: #c0c0c0;
  grid-area: team;
}

#about-contact {
  grid-area: contact;
}

a:link {
  text-decoration: none;
}

#about-us > h1 {
  font-family: 'Josefin Slab';
  font-size: 300%;
  line-height: 130%;
  letter-spacing: .22em;
  text-align: center;
  word-spacing: .21em;
}

#roster {
  display: grid;
  grid-gap: .5em;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "row1"
                        "row2"
                        "row3";
}


.roster-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roster-row::before {
  content: '';
}

.roster-row::after {
  content: '';
>>>>>>> master
}

#roster-row-1 {
  grid-area: row1;
}

#roster-row-2 {
  grid-area: row2;
}

#roster-row-3 {
  grid-area: row3;
}

#roster-row-1 > div,
#roster-row-2 > div,
#roster-row-3 > div {
  margin: .5em;
}

.profile {
  text-align: center;
}

.bio {
  display: inline-block;
  text-align: left;
}

.name {
  font-size: 120%;
}

#profile-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}

#about-contact {
  background-color: #cfcfcf;
  padding: 1em;
}


#about-team > h2,
#about-contact > h2 {
  text-align: center;
  font-family: 'Josefin Slab';
  font-size: 200%;
}

#roster > .roster-row,
#about-us,
.about-contact > #contact-container {
  font-family: 'Arvo';
  font-size: 110%;
}

/* Sign up page */

/*using same wrapper for sign up, login, submission page*/
.submit-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            'header'
            'main'
            'footer';
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.submit-main {
    padding: 26px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Mina', sans-serif;
    color: #2A3840;
}

.submit-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.submit-container > input, .event_time > input {
    flex: 1 1 40px;
    text-indent: 10px;
    font-family: 'Mina', sans-serif;
}


input[type=text], input[type=password], .event_time > input {
  width: 40%;
  height: 40px;
  padding:0px;
  margin: 2px 0 20px 0;
  border: none;
  background: #f1f1f1;
  min-width: 300px;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signupbtn {
  background-color: #1BB24E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  opacity: 0.9;
}

.cancelbtn {
  padding: 14px 20px;
}

/* Login page*/
.loginbtn {
    background-color: #1BB24E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.9;
}

/*submission page*/

input[name="event-details"]{
    width: 100%;
    min-height: 300px;

}

.addeventbtn {
    background-color: #8FBEDB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.9;
}

#timezone {
    display: inline-block;
    width: 100px;
    margin-bottom: 15px;
    height: 40px;
    background-color: #fafafa;
}

input[name="event-time"], #timezone {
    flex-direction: row;
}

textarea {
    width: 90%;
    min-height: 400px;
    background: #f1f1f1;
    font-family: 'Mina', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
}
